{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<h3>📋 Seguimiento de Contratos</h3>

<a href="{{ url_for('main.seguimiento_contratos_nuevo') }}"
   class="btn btn-primary mb-3">
   ➕ Nuevo Contrato
</a>
<a href="{{ url_for('main.seguimiento_contratos_dashboard') }}"
   class="btn btn-dark mb-3">
   📊 Dashboard
</a>
<a href="{{ url_for('main.admin_dashboard') }}"
   class="btn btn-secondary mb-3">
   🏠 Menú Principal
</a>
<table class="table table-bordered">

<thead>
<tr>
    <th>Proceso</th>
    <th style="width:40%">Objeto de Contratación</th>
    <th>Contrato</th>
    <th>Administrador</th>
    <th class="text-center">Fecha Fin</th>
    <th class="text-center" style="width:180px">
       Alerta / Estado
    </th>
    <th>Acciones</th>
   
</tr>
</thead>

<tbody>

{% for c in contratos %}
<tr>

    <td>{{ c.codigo_proceso }}</td>
    <td>{{ c.objeto_contratacion }}</td>
    <td>{{ c.numero_contrato }}</td>
    <td>{{ c.administrador_contrato }}</td>
    <td class="text-center">
        {{ c.fecha_fin_estimada }}
    </td>
    <td class="text-center">
        <span class="badge bg-{{ c.color_alerta }} p-2">
            {{ c.alerta }}
        </span>
        <br><br>
        <small>
            {{ c.estado }}
        </small>
    </td>

    <td class="text-center">
        <a href="{{ url_for('main.seguimiento_contratos_detalle',
                            contrato_id=c.id) }}"
           class="btn btn-sm btn-info">

            📋 Seguimiento
        </a>
    </td>
</tr>
{% endfor %}

</tbody>

</table>

</div>

{% endblock %}